<footer class="BLOG-footer">
    <div class = "claim">
        Copyright&copy; Auxiliary Teaching for SAST 2019, all rights reserved.
    </div>
</footer>
        <style>
            .claim{
                top: 40%;
                position: relative;
                color: white;
            }
            .BLOG-footer{
                text-align: center;
                background-color:black;
                opacity: 0.5;
                position: relative;
                height: 1.6cm;
            }
        </style>