<html>
    <head>
        <title>ATSAST Blog</title>
    </head>
    <body background="images/background.jpg">
    <div style="height:300px;width:300px; display: block; margin: 0 auto; ">
        <img src="images/ATSAST_logo.jpg" style="margin: 60px;margin-top: 80px;">
    </div>
    <div style="top:1000px">
        <section id="content" style="width: 100%;">
            <p style="font-size:45px;text-align:center;color:aqua;"><strong>ATSAST BLOG</strong></p>
        </section>
    </div>
    <div style="background-color: #4CAF50; border: none; color: white; padding: 15px 30px; text-align: center; text-decoration: none; display: block; margin: 0 auto; font-size: 16px; width: 30px;">
        <a href="./blog_index.php">Enter</a>
    </div>
    <footer><iframe id = "logo" src = "www.brethland.com/Blog_logo_layout.svg"></iframe><h3>&copy;2019</h3></footer>
    </body>
</html>