<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
        <title>搜索</title>
        <style>
            #SearchTitle{
                color:black;
            }
            #SearchColumn{
                width: 525px;
                position:relative;
            }
            .cc{
                width:18cm;
                margin:0 auto;
            }
            #BG::before{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: url("http://api.dujin.org/bing/1920.php") 0 / cover fixed;
            opacity:0.5;
            }
        </style>
    </head>
    <body>
        <div id="BG">
        <div style="background-color: black; color:white;">
                        <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="background-color:black;opacity: 0.6;">
                            <a class="navbar-brand" href="http://<{$MAIN_PAGE}>">ATSAST BLOG</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto"></ul>
                            <ul class="navbar-nav">
                            <{if $islogin }>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><{$greeting}>！</a>
                                <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="http://<{$MAIN_PAGE}>/admin/" style>个人主页</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="http://<{$MAIN_PAGE}>/account/logout">登出</a>
                            </div>
                            </li>
                            <{else}>
                            <li class="nav-item">
                                <a class="nav-link" href="http://<{$MAIN_PAGE}>/account/">登录 / 注册</a>
                            </li>
                            <{/if}>
                            </ul>
                            </div>
                        </nav>
        </div>
        <div class="container-fluid">    
        <div class = "row">
                <div class = "col-md-4"><br></div>
            <div class = "col-md-12">
        <div class = "card" style="opacity:0.5;">
            <div class = "card-body">
            <h1 class="text-center">Search</h1>
            <p class="text-center" id="SearchTitle"><small>You can search anything you want……</small></p>
            <div class = "cc">
        <form class="form-inline" method="POST" id = "searchform">
        <div class="form-group">
            <label class="sr-only" for="SearchText">Search</label>
            <input type="search" class="form-control" id="SearchColumn" placeholder="Qualis artifex pereo">
            <div class="btn-group">
                    <button class="btn dropdown-toggle" type="button" id="buttonMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="buttonMenu1">
                    <div class = "dropdown-item">
                    <label>
                    <input type="radio" style="display:none;" name="optionsRadios" id="optionsRadios1" value="article-title" checked>
                        文章标题
                    </label>
                    </div>
                    <div class = "dropdown-item">
                    <label>
                    <input type="radio" style="display:none;" name="optionsRadios" id="optionsRadios2" value="article-text">
                        文章内容
                    </label>
                    </div>
                    <div class = "dropdown-item">
                    <label>
                    <input type="radio" style="display:none;" name="optionsRadios" id="optionsRadios3" value="article-author">
                        文章作者
                    </label>
                    </div>
                    </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        <!--搜索结果的前端代码-->
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    </body>
</html>